<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>MyMaterial</span>

    <span class="example-spacer"></span>
    
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="Who has the best dev tutorials?">
  </mat-form-field>

  <br>
  
  <button mat-raised-button (click)="showAnswer()">Answer me</button>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>


<mat-card *ngIf="answerDisplay">
  <h1>{{ answerDisplay }}, you're damn right.</h1>
</mat-card> -->


<mat-toolbar color="primary">

  <button mat-button class="sidenav-toggle">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Contact Manager</span>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
  <span class="example-spacer"></span>
  <button mat-button>About</button>
  <button mat-button>Services</button>
  <button mat-button>Contact</button>

  <button mat-button [matMenuTriggerFor]="userMenu">
    <div fxLayout="row" fxLayoutAlign="center center">
      <img class="avatar" src="assets/images/avatars/profile.jpg">
      <span fxHide fxShow.gt-sm>John Doe</span>
      <mat-icon fxHide.xs>keyboard_arrow_down</mat-icon>
    </div>
  </button>
  <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>My Profile</span>
    </button>

    <!-- <button mat-menu-item class="">
        <mat-icon>mail</mat-icon>
        <span>Inbox</span>
    </button> -->

    <button mat-menu-item class="">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>

  </mat-menu>

  <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

  <button mat-icon-button
          class="mat-icon-button quick-panel-toggle-button"
          aria-label="Toggle quick panel">
      <mat-icon class="icon">format_list_bulleted</mat-icon>
  </button>
</mat-toolbar>

