:host {

    .toolbar-separator {
        height: 64px;
        width: 1px;
        background: rgba(0, 0, 0, .12);
        height: 56px;
    }
    .example-spacer {
      flex: 1 1 auto;
    }
  
    .avatar {
      width: 50px;
      padding: 5px;
  }
}

